In [1]:
import requests
import pprint
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
from config import sqlpass

In [2]:
def search_business(offset):
    api_key = "OnCmW229lglON7t4NBgK55sdvTzDfUIq-AJYVQDPnbSLwbS3rC8ky_dPBk6GETFAKBjrUfYYqBIgo5VN1G6Eu51-_gL3si3cNKJzZTxAfaiKf2YazE_1dBnkpyTuW3Yx" #  Replace this with your real API key
    url = 'https://api.yelp.com/v3/businesses/search'
    headers = {
        'Authorization': 'Bearer {}'.format(api_key),
    }

    url_params = {
                'term': "Restaurants",
                'location': "Washington+DC",
                'limit': 50,
                'offset': offset
                }
    
    response = requests.get(url, headers=headers, params=url_params)
    return response.json()

In [3]:
if __name__ == "__main__":
    
    location = []
    
    for offset_num in np.arange(50,1000,50) :
        output_json = search_business(offset_num)
        
        for x in range(50):
            y = output_json['businesses'][x]['location']['display_address']
            y = " ".join(y)
            z = y.split( ",")
            location.append(z[0]) 
        try:
            output_json = search_business(offset_num) 
            
            if offset_num == 50:
                df_first = pd.DataFrame.from_dict(output_json['businesses'])
                        
            else:
                df2 = pd.DataFrame.from_dict(output_json['businesses'])
                df_first = df_first.append(df2)
                df_final = df_first[['name', 'rating']].copy()
                df_final["Address"] = location
                
        except AttributeError:
            print("error at ", offset_num)

In [5]:
df_final = df_final.rename(columns={"name": "RestaurantName", "rating": "Rating"})
df_final.head()

       RestaurantName  Rating                           Address
0        Tail Up Goat     4.5  1827 Adams Mill Rd NW Washington
1    The Haymaker Bar     4.0           1015 H St NE Washington
2  Brookland's Finest     4.0        3126 12th St NE Washington
3  Pineapple & Pearls     4.5          715 8th St SE Washington
4          DC Noodles     4.0           1412 U St NW Washington

In [18]:
rds_connection_string = f"root:{sqlpass}@127.0.0.1/restaurants_db?charset=utf8"
engine = create_engine(f'mysql://{rds_connection_string}', encoding='utf-8')

In [19]:
engine.table_names()

['google_info', 'yelp_info']

In [27]:
df_final.to_sql(name='yelp_info', con=engine, if_exists='append', index=False)

In [26]:
#This will verify we can pull the data from the table we created by combining the google and yelp data
pd.read_sql_query('select * from restaurant_info', con=engine).head(100)

,id,RestaurantName,Rating,Address
0,951,Tail Up Goat,4.5,1827 Adams Mill Rd NW Washington
1,952,The Haymaker Bar,4,1015 H St NE Washington
2,953,Brookland's Finest,4,3126 12th St NE Washington
3,954,Pineapple & Pearls,4.5,715 8th St SE Washington
4,955,DC Noodles,4,1412 U St NW Washington
5,956,Momo Yakitori,4.5,2214 Rhode Island Ave NE Washington
6,957,Homestead,4,3911 Georgia Ave NW Washington
7,958,The Dabney,4.5,122 Blagden Aly NW Washington
8,959,The Eleanor DC,4,100 Florida Ave NE Washington
9,960,Right Proper Brewing Company,4,624 T St NW Washington
10,961,Ethiopic,4,401 H St NE Washington
11,962,Convivial,4,801 O St NW Washington
12,963,El Chal√°n,4,1924 I St NW Washington
13,964,ChurchKey,4,1337 14th St NW Fl 2 Washington
14,965,Lily and the Cactus,4.5,1225 First St NE Washington
15,966,Haikan,4,805 V St NW Washington
16,967,Timber Pizza Company,4.5,809 Upshur St NW Washington
17,968,Momofuku CCDC,3.5,1090 I St NW Washington
18,969,Tortino Restaurant,4,1228 11th St NW Washington
19,970,Old Europe,4,2434 Wisconsin Ave NW Washington
20,971,Al Volo,4.5,1790 Columbia Rd NW Washington
21,972,Dumplings & Beyond,4,2400 Wisconsin Ave NW Fl 2 Washington
22,973,Blue Duck Tavern,4,1201 24th St NW Washington
23,974,Boqueria Restaurant - Washington,4,1837 M St NW Washington
24,975,Da Hong Pao,4,1409 14th St NW Washington
25,976,Whaley's,4,301 Water St SE Ste 115 Washington
26,977,Busboys and Poets - 450K,4,450 K Street NW Washington
27,978,Daikaya Ramen Shop,4,705 6th St NW Fl 1 Washington
28,979,Kinship,4.5,1015 7th St NW Washington
29,980,Granville Moore's,4,1238 H St NE Washington
...,...,...,...,...
70,1021,Spark,4.5,1626 N Capitol St NW Washington
71,1022,RPM Italian,4,650 K St NW Washington
72,1023,Honeysuckle,4,1990 M St NW Washington
73,1024,Pi Pizzeria,4,910 F St NW Washington
74,1025,Estadio,4,1520 14th St NW Washington
75,1026,Tico DC,4,1926 14th St NW Washington
76,1027,The Royal,4,501 Florida Ave NW Washington
77,1028,Pho Anh Dao,4.5,1915 18th St NW Washington
78,1029,Barcelona Wine Bar,4,1622 14th St NW Washington
79,1030,Farmers & Distillers,4,600 Massachusetts Ave NW Washington
80,1031,Heat Da Spot,5,3213 Georgia Ave NW Washington
81,1032,Bul,4,2431 18th St NW Washington
82,1033,All-Purpose Riverfront,4,79 Potomac Ave SE Washington
83,1034,Ted's Bulletin,4,505 8th St SE Washington
84,1035,Sakuramen,4,2441 18th St NW Washington
85,1036,The Salt Line,4,79 Potomac Ave SE Washington
86,1037,A Baked Joint,4.5,440 K St NW Washington
87,1038,Captain White's Seafood,4,1100 Maine Ave SW Washington
88,1039,Los Hermanos,4.5,1426 Park Rd NW Washington
89,1040,Po Boy Jim,3.5,709 H St NE Washington
90,1041,Pow Pow,4,1253 H St NE Washington
91,1042,CIRCA at Chinatown,4.5,781 7th St NW Washington
92,1043,The Airedale,4,3605 14th St Washington
93,1044,Le Mirch,4,1736 Connecticut Ave NW Washington DC
94,1045,Fiola Mare,4,3050 K St NW Ste 101 Washington
95,1046,The Smith,4,901 F St NW Washington
96,1047,Osteria Morini,4,301 Water St SE Washington
97,1048,ANXO Cidery & Pintxos Bar,4,300 Florida Ave NW Washington
98,1049,801 Restaurant & Bar,4,801 Florida Ave NW Washington
99,1050,Sotto,4,1610 14th St NW Washington